html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  top: 8px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: auto;
  height: 80px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.logout {
  font-family: sans-serif;
  text-align: center;
}

.logout-title {
  font-size: 3em;
}

.logout-button {
  background-color: #5f80e6;
  border: none;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: aquamarine;
  color: black;
  text-align: center;
}

.signup {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  margin-top: 200px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.signup h1 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.signup-button {
  background-color: #5f80e6;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.signup form {
  margin-top: 30px;
}

.signup form .input-box {
  height: 52px;
  margin: 40px 0;
}